doctype html
html(lang="en")
		include ../includes/head.pug
		body 
			//- header
			include ../components/header.pug
			//- main
			main 
				section.section-home.section--padding 
					.container 
							.swiper.home-swiper.JS-home-swiper
								.swiper-wrapper
									.swiper-slide.home-swiper-slide
										.d-flex 
											.col-6
												include ../components/slide-card.pug
												.btn--max 
													include ../components/btn-normal.pug
											.offset-2.col-4
												include ../components/card.pug
									.swiper-slide.home-swiper-slide
										.d-flex 
											.col-6
												include ../components/slide-card.pug
												.btn--max 
													include ../components/btn-normal.pug
											.offset-2.col-4
												include ../components/card.pug
								.pag
									.swiper-pagination 
								.swiper-button-prev
								.swiper-button-next
				section.section-property.section--padding 
					.container 
						.section-heading--center
							include ../components/heading.pug
							include ../components/description.pug
						.pb-sm
						.d-flex 
							include ../components/map.pug
							include ../components/form.pug
				section.section-card.section.section--grey.section--padding   
					.container
						.section-heading--center
							include ../components/heading.pug
						.btn-special.d-flex.justify-content-center
							a.btn.btn-primary--border-green(href="") RENT
							a.btn.btn-primary--border-green(href="") BUY
						.card-wrapper
							include ../components/card.pug 
							+cardFull
							+cardFull
							+cardFull
							+cardFull
							+cardFull
							+cardFull
					.d-flex.justify-content-center
						include ../components/btn-normal.pug
				section.section-agencies.section--padding  
					.container 
						.section-heading--center
							include ../components/heading.pug
							include ../components/description.pug
						.pb-sm
						.card-profile__wrapper
							include ../components/card-profile.pug
							include ../components/card-profile.pug
							include ../components/card-profile.pug
							include ../components/card-profile.pug
				section.section--dark.section--padding  
					.container 
							.swiper.home-swiper.JS-home-swiper
								.swiper-wrapper
									.swiper-slide.home-swiper-slide
										include ../components/comment.pug
									.swiper-slide.home-swiper-slide
									.swiper-slide.home-swiper-slide
										include ../components/comment.pug
								.pag
									.swiper-pagination 
								.swiper-button-prev
								.swiper-button-next
				section.section-card.section.section--grey.section--padding   
					.container
						.section-heading--center
							include ../components/heading.pug
						.card-wrapper
							include ../components/card.pug
							+cardCompressed
							+cardCompressed
							+cardCompressed
				section.section-aboutUs.section--padding  
					.container
						.flex-wrapper 
							.col-6 
								include ../components/heading.pug
								include ../components/description.pug
								.btn--max
									include ../components/btn-normal.pug
							.offset-1.col-5
								include ../components/video.pug
				section.section-contact.my-bgc-primary
					.container
						include ../components/contact-us.pug
			//- footer
			include ../components/footer.pug
		include ../includes/foot.pug
