.none {
  visibility: hidden;
}

.scroll {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 2s;
  transition: 2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

select {
  height: 40px;
  border: none;
  background-color: white;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
}
.header-bg {
  background-color: rgba(255, 255, 255, 0.979);
}
.header .navbar {
  padding-top: 5px;
  padding-bottom: 5px;
}
.header .navbar-nav {
  margin-left: auto;
  margin-right: auto;
}
.header .nav-item {
  margin-left: 5px;
  margin-right: 5px;
}
.header .nav-link {
  font-size: 12px;
  color: #000;
  border: none;
}
.header .nav-link:hover {
  color: white;
  background-color: #00bd74 !important;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3px;
}
.auth__login a {
  font-size: 12px;
  margin-left: 6px;
  text-decoration: none;
  color: #000;
}
.auth__login a:hover {
  color: green;
}
.auth__register a {
  border-left: 2px solid #000;
  height: 12px;
  font-size: 12px;
  margin-left: 5px;
  padding-left: 5px;
  text-decoration: none;
  color: #000;
}
.auth__register a:hover {
  color: green;
}

.btn--normal {
  width: 165px;
  height: 50px;
}
.btn--biggest {
  width: 310px;
  height: 50px;
}
.btn-success {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00bd74 !important;
  border: none !important;
}
.btn-success:hover {
  background-color: #03774a !important;
}

.button {
  border-radius: 3px;
  background-color: #00bd74;
  width: 310px;
  height: 50px;
  z-index: 352;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-home {
  background-color: #555555;
  padding-top: 150px;
  padding-bottom: 100px;
}
.section-property {
  padding: 100px 0;
}
.section-heading__title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 30px;
}
.section-heading__title--center {
  text-align: center;
}
.section-heading__description {
  font-size: 18px;
  margin-bottom: 60px;
  color: #4e4e4e;
}
.section-heading__description--center {
  text-align: center;
}

.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20% 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 20%;
}
@media (max-width: 1024px) {
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
.home-swiper .swiper-button-prev {
  color: white !important;
}
.home-swiper .swiper-button-next {
  color: white !important;
}
.home-swiper .swiper-pagination-bullet {
  background: white !important;
}
.home-swiper-slide {
  padding-left: 110px;
  padding-right: 10px;
}
@media (max-width: 1024x) {
  .home-swiper-slide {
    padding-left: 0;
    padding-right: 0;
  }
}
.home-pag {
  padding-top: 40px;
}
@media (max-width: 425px) {
  .home-blurb {
    text-align: center;
  }
}
.home-blurb__sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #ffa656;
  width: 54px;
  height: 24px;
  border-radius: 3px;
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  .home-blurb__sale {
    display: none;
  }
}
.home-blurb__title {
  margin-bottom: 40px;
}
@media (max-width: 425px) {
  .home-blurb__title {
    margin-bottom: 15px;
  }
}
.home-blurb__title-text {
  color: white;
  font-size: 42px;
  margin: 0;
}
.home-blurb__description {
  margin-bottom: 40px;
}
@media (max-width: 425px) {
  .home-blurb__description {
    margin-bottom: 15px;
  }
}
.home-blurb__description-text {
  color: white;
}
.home-card {
  width: 364px;
  height: 420px;
  background-color: #fff;
  border-radius: 5px;
}
.home-card__img {
  width: 364px;
  height: 222px;
  background-color: #b9b9b9;
  border-radius: 5px 5px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-card__body {
  padding: 25px;
}
.home-card__title {
  font-size: 18px;
  margin: 0;
}
.home-card__subtitle {
  font-size: 18px;
  color: #00bd74;
  margin-bottom: 20px;
}
.home-card__description {
  color: #6b6b6b;
  font-size: 16px;
  margin-bottom: 25px;
}
.home-card__icon--ml {
  margin-right: 25px;
  margin-left: 5px;
}

.property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.property-map {
  width: 750px;
  height: 690px;
  background-color: #696969;
  border-radius: 5px;
}
.property-form {
  position: relative;
  width: 360px;
  height: 690px;
  margin-left: 30px;
  padding: 25px;
  background-color: #f7f7f7;
  border-radius: 5px;
}
.property-form__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
}
.property-form__select--color {
  color: #4e4e4e;
}
.property-form__select--label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.property-form__range {
  margin-bottom: 40px;
}
.property-form__line {
  position: absolute;
  left: 0;
  top: 600px;
  width: 360px;
  height: 1px;
  background-color: #e7e7e7;
}

.footer {
  background-color: #1c1d1c;
  overflow: hidden;
  position: relative;
}
.footer-copyright {
  height: 70px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-copyright p {
  color: #7b7b7b;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
.footer__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 2fr;
  grid-template-columns: 1fr 2fr;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding: 100px 0 100px 0;
  position: relative;
}
@media (max-width: 768px) {
  .footer__wrapper {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    padding: 25px 10px;
  }
}
@media (max-width: 425px) {
  .footer__wrapper {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    padding: 25px 10px;
  }
}
.footer-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.footer-network__link {
  margin-right: 18px;
}
.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 425px) {
  .footer-info {
    margin-bottom: 25px;
  }
}
.footer-info__title {
  font-size: 18px;
  font-weight: 700;
  font-family: "Montserrat";
  color: white;
  margin-bottom: 20px;
}
.footer-info__description-text {
  font-weight: 300;
  font-size: 16px;
  color: #c5c5c5;
  opacity: 0.6;
}
@media (max-width: 425px) {
  .footer-info__description-text {
    font-size: 14px;
  }
}
.footer-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding-left: 30%;
}
@media (max-width: 768px) {
  .footer-menu {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding-left: 0;
  }
}
@media (max-width: 425px) {
  .footer-menu {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding-left: 0;
  }
}
.footer-item {
  text-align: left;
}
.footer-item--news {
  margin-left: -30%;
}
.footer-item__title {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
}
@media (max-width: 425px) {
  .footer-item__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.footer-list {
  padding: 0;
  margin: 0;
}
.footer-list__link {
  display: inline-block;
  font-weight: 300;
  font-size: 16px;
  color: #c5c5c5;
  text-decoration: none;
  margin-bottom: 10px;
}
.footer-list__link--mail {
  text-decoration: none;
  color: #c5c5c5;
}
@media (max-width: 425px) {
  .footer-list__link {
    font-size: 14px;
  }
}
.footer-list__link:hover {
  color: #1e314b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}