.card-profile 	
	.card-profile__img 
		img(src="./img/card/card-profile__logo.png", alt="")
	.card-profile__body 
		h5.card-profile__title Real Estate TX Agency
		p.card__description.text-center  Praesent elementum porttitor quam bibendum porttitor.
		.d-flex.justify-content-center 
			include ../components/btn-normal.pug