
<section class="section-home"> 
  <div class="container"> 
    <div class="swiper home-swiper JS-home-swiper"> 
      <div class="swiper-wrapper"> 
        <div class="swiper-slide home-swiper-slide">
          <div class="home"> 
            <div class="home-blurb">
              <div class="home-blurb__sale"> <span>SALE </span></div>
              <div class="home-blurb__title"> 
                <h1 class="home-blurb__title-text">372 Central Park W #17N,  New York</h1>
              </div>
              <div class="home-blurb__description"> 
                <p class="home-blurb__description-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
                  necarcu eget nulla bibendum finibus. Class aptent taciti sociosqu ad litora 
                  torquent per conubia nostra, per inceptos himenaeos.
                </p>
              </div>
              <div class="btn"><a class="btn btn-success btn--normal" href="">VIEW DETAILS			</a></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide home-swiper-slide">
          <div class="home"> 
            <div class="home-blurb">
              <div class="home-blurb__sale"> <span>SALE </span></div>
              <div class="home-blurb__title"> 
                <h1 class="home-blurb__title-text">372 Central Park W #17N,  New York</h1>
              </div>
              <div class="home-blurb__description"> 
                <p class="home-blurb__description-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
                  necarcu eget nulla bibendum finibus. Class aptent taciti sociosqu ad litora 
                  torquent per conubia nostra, per inceptos himenaeos.
                </p>
              </div>
              <div class="btn"><a class="btn btn-success btn--normal" href="">VIEW DETAILS							</a></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide home-swiper-slide">
          <div class="home"> 
            <div class="home-blurb">
              <div class="home-blurb__sale"> <span>SALE </span></div>
              <div class="home-blurb__title"> 
                <h1 class="home-blurb__title-text">372 Central Park W #17N,  New York</h1>
              </div>
              <div class="home-blurb__description"> 
                <p class="home-blurb__description-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
                  necarcu eget nulla bibendum finibus. Class aptent taciti sociosqu ad litora 
                  torquent per conubia nostra, per inceptos himenaeos.
                </p>
              </div>
              <div class="btn"><a class="btn btn-success btn--normal" href="">VIEW DETAILS								</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-pag">
        <div class="swiper-pagination">	</div>
      </div>
      <div class="swiper-button-prev"> </div>
      <div class="swiper-button-next"> </div>
    </div>
  </div>
</section>