<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body> 
    <header class="header">
      <nav class="navbar navbar-expand-lg header-bg">
        <div class="container"> <a class="navbar-brand" href="#"><img src="./img/header/LOGO.png" alt="logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item"> <a class="nav-link btn btn-outline-success" aria-current="page" href="#">HOME</a></li>
              <li class="nav-item"> <a class="nav-link btn btn-outline-success" href="#">PROPERTIES</a></li>
              <li class="nav-item"> <a class="nav-link btn btn-outline-success" href="#">AGENCIES</a></li>
              <li class="nav-item"> <a class="nav-link btn btn-outline-success" href="#">ABOUT</a></li>
              <li class="nav-item"> <a class="nav-link btn btn-outline-success" href="#">NEWS</a></li>
              <li class="nav-item"> <a class="nav-link btn btn-outline-success" href="#">CONTACT US			</a></li>
            </ul>
            <div class="auth"> 
              <div class="auth__icon"> <img src="./img/header/icon-login.png" alt="icon"></div>
              <div class="auth__login"> <a href="http://"> LOGIN </a></div>
              <div class="auth__register"> <a href="http://"> REGISTER</a></div>
            </div>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>