
<div class="home"> 
  <div class="home-blurb">
    <div class="home-blurb__sale"> <span>SALE </span></div>
    <div class="home-blurb__title"> 
      <h1 class="home-blurb__title-text">372 Central Park W #17N,  New York</h1>
    </div>
    <div class="home-blurb__description"> 
      <p class="home-blurb__description-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
        necarcu eget nulla bibendum finibus. Class aptent taciti sociosqu ad litora 
        torquent per conubia nostra, per inceptos himenaeos.
        
        
      </p>
    </div>
  </div>
</div>