.home {
		 @media (max-width: 1024px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
		 }
		 &-swiper {
			& .swiper-button-prev {
				color: white !important;
			}
			& .swiper-button-next {
				color: white !important;
			}
			& .swiper-pagination-bullet {
				background: white !important;
			}
			&-slide {
				@media (max-width: 1024x) {
					padding-left: 0;
					padding-right: 0;
				 }
			}
		}
		&-pag {
			padding-top: 40px;
		}
    &-blurb {

			@media (max-width: 425px) {
				text-align: center;
			 }
        &__sale {
					display: flex;
					justify-content: center;
					align-items: center;
					color: white;
					background-color: #ffa656;
					width: 54px;
					height: 24px;
					border-radius: 3px;
					margin-bottom: 25px;
					@media (max-width: 1024px) {
						display: none;
					 }
        } 
        &__title {
            margin-bottom: 40px;
						@media (max-width: 425px) {
							margin-bottom: 15px;
						 }
            &-text {
				color: rgb(255, 255, 255);
                font-size: 42px;
                margin: 0;	
				max-width: 550px;					
            }
        }      
        &__description {
            margin-bottom: 40px;
						@media (max-width: 425px) {
							margin-bottom: 15px;
						 }
            &-text {
                color: white;
				max-width: 600px;
            }
        }
    }

}