.property {
    display: flex;
    &-map {
        width: 750px;
        height: 690px;
        background-color: #696969;
        border-radius: 5px;
    }
    &-form {
        position: relative;
        width: 360px;
        height: 690px;
        margin-left: 30px;
        padding: 25px;
        background-color: #f7f7f7;
        border-radius: 5px;
        &__select {
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-bottom: 20px;
            &--color {
                color: #4e4e4e;
            }
            &--label {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 10px;
            }
            // &--option {
                
            // }
        }
        &__range {
           margin-bottom: 40px;
        }
        &__line {
            position: absolute;
            left: 0;
            top: 600px;
            width: 360px;
            height: 1px;
            background-color: #e7e7e7;
        }
    }
}