.property {
    display: flex;
    &-map {
        width: 750px;
        height: 690px;
        background-color: #696969;
        border-radius: 5px;
    }
    &-form {
        width: 420px;
        height: 690px;
        margin-left: 30px;
        padding: 25px;
        background-color: #f7f7f7;
        border-radius: 5px;
        &__select {
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-bottom: 20px;
            &--label {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 10px;
            }
        }
    }
}